body {
  margin: 0;
  background-color: black;
}

.block {
  border: 1px solid #e75551;
  box-sizing: border-box;
  margin: 20px;
  margin-bottom: 40px;
  padding: 10px;
}

.outer {
  width: 350px;
  background-color: #308dc0;
}

.middle {
  background-color: #ffa500;
  margin: auto;
}

.inner {
  background-color: #ddd;
  margin: auto;
}
